.mule/plugins-tmp/repository/7.9.0/com/mulesoft/connectors/mule-amazon-sns-connector/4.6.1/mule-sns.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/sns" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/tls" schemaLocation="http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="optional" name="defaultTopicArn"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="basic-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="sessionToken"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="testTopic"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="50000" name="connectionTimeout"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="maxConnections"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="50000" name="socketTimeout"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="accessKey"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="secretKey"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="US_EAST_1" name="region"></xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="tryDefaultAWSCredentialsProviderChain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="customServiceEndpoint"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyHost"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="proxyPort"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyUsername"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyPassword"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyDomain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyWorkstation"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="role-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="roleARN"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="customStsEndpoint"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="testTopic"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="50000" name="connectionTimeout"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="maxConnections"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="50000" name="socketTimeout"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="accessKey"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="secretKey"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="US_EAST_1" name="region"></xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="tryDefaultAWSCredentialsProviderChain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="customServiceEndpoint"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyHost"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" name="proxyPort"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyUsername"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyPassword"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyDomain"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="proxyWorkstation"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="AddPermissionType" substitutionGroup="mule:abstract-operator" name="add-permission">
    <xs:annotation>
      <xs:documentation>Adds a statement to a topic's access control policy, granting access for the specified AWS accounts to the specified actions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AddPermissionType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="account-ids">
            <xs:annotation>
              <xs:documentation>The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="account-id">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="action-names">
            <xs:annotation>
              <xs:documentation>The action you want to allow for the specified principal(s)</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="action-name">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="topicArn">
          <xs:annotation>
            <xs:documentation>The ARN of the topic whose access control policy you wish to modify.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="label">
          <xs:annotation>
            <xs:documentation>A unique identifier for the new policy statement.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="accountIds">
          <xs:annotation>
            <xs:documentation>The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="actionNames">
          <xs:annotation>
            <xs:documentation>The action you want to allow for the specified principal(s)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ConfirmSubscriptionType" substitutionGroup="mule:abstract-operator" name="confirm-subscription">
    <xs:annotation>
      <xs:documentation>The confirmSubscription action verifies an endpoint owner's intent to receive messages by validating the token sent to the endpoint by an earlier Subscribe action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the AuthenticateOnUnsubscribe flag is set to "true".</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ConfirmSubscriptionType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="topicArn">
          <xs:annotation>
            <xs:documentation>The ARN of the topic for which you wish to confirm a subscription.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="token">
          <xs:annotation>
            <xs:documentation>Short-lived token sent to an endpoint during the &lt;code&gt;Subscribe&lt;/code&gt; action.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="authenticateOnUnsubscribe">
          <xs:annotation>
            <xs:documentation>Disallows unauthenticated unsubscribes of the subscription. If the value of this parameter is &lt;code&gt;true&lt;/code&gt; and the request has an AWS signature, then only the topic owner and the subscription owner can unsubscribe the endpoint. The unsubscribe action requires AWS authentication.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="CreatePlatformApplicationType" substitutionGroup="mule:abstract-operator" name="create-platform-application">
    <xs:annotation>
      <xs:documentation>Creates a platform application object for one of the supported push notification services, such as APNS and GCM, to which devices and mobile apps may register.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CreatePlatformApplicationType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="attributes">
            <xs:annotation>
              <xs:documentation>The list of attributes.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="attribute">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="name">
          <xs:annotation>
            <xs:documentation>Application name must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="platform">
          <xs:annotation>
            <xs:documentation>The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and GCM (Google Cloud Messaging).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionMap" use="optional" name="attributes">
          <xs:annotation>
            <xs:documentation>The list of attributes.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="CreatePlatformEndpointType" substitutionGroup="mule:abstract-operator" name="create-platform-endpoint">
    <xs:annotation>
      <xs:documentation>Creates an endpoint for a device and mobile app on one of the supported push notification services. CreatePlatformEndpoint requires the PlatformApplicationArn that is returned from CreatePlatformApplication.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CreatePlatformEndpointType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="attributes">
            <xs:annotation>
              <xs:documentation>The list of attributes.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="attribute">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="platformApplicationArn">
          <xs:annotation>
            <xs:documentation>PlatformApplicationArn returned from CreatePlatformApplication is used to create an endpoint.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="token">
          <xs:annotation>
            <xs:documentation>Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="customUserData">
          <xs:annotation>
            <xs:documentation>Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionMap" use="optional" name="attributes">
          <xs:annotation>
            <xs:documentation>The list of attributes.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="CreateTopicType" substitutionGroup="mule:abstract-operator" name="create-topic">
    <xs:annotation>
      <xs:documentation>The CreateTopic action creates a topic to which notifications can be published. Users can create at most 100 topics</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CreateTopicType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="topicName">
          <xs:annotation>
            <xs:documentation>The name of the topic you want to create.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="DeleteEndpointType" substitutionGroup="mule:abstract-operator" name="delete-endpoint">
    <xs:annotation>
      <xs:documentation>Deletes the endpoint for a device and mobile app from Amazon SNS.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DeleteEndpointType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="endpointArn">
          <xs:annotation>
            <xs:documentation>EndpointArn of endpoint to delete.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="DeletePlatformApplicationType" substitutionGroup="mule:abstract-operator" name="delete-platform-application">
    <xs:annotation>
      <xs:documentation>Deletes a platform application object for one of the supported push notification services, such as APNS and GCM.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DeletePlatformApplicationType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="platformApplicationArn">
          <xs:annotation>
            <xs:documentation>PlatformApplicationArn of platform application object to delete.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="DeleteTopicType" substitutionGroup="mule:abstract-operator" name="delete-topic">
    <xs:annotation>
      <xs:documentation>The DeleteTopic action deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DeleteTopicType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="topicArn">
          <xs:annotation>
            <xs:documentation>The ARN of the topic you want to delete.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="GetEndpointAttributesType" substitutionGroup="mule:abstract-operator" name="get-endpoint-attributes">
    <xs:annotation>
      <xs:documentation>Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM and APNS.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetEndpointAttributesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="endpointArn">
          <xs:annotation>
            <xs:documentation>EndpointArn for GetEndpointAttributes input.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="GetPlatformApplicationAttributesType" substitutionGroup="mule:abstract-operator" name="get-platform-application-attributes">
    <xs:annotation>
      <xs:documentation>Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetPlatformApplicationAttributesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="platformApplicationArn">
          <xs:annotation>
            <xs:documentation>PlatformApplicationArn for GetPlatformApplicationAttributesInput.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="GetSubscriptionAttributesType" substitutionGroup="mule:abstract-operator" name="get-subscription-attributes">
    <xs:annotation>
      <xs:documentation>The GetSubscriptionAttributes action returns all of the properties of a subscription.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetSubscriptionAttributesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="subscriptionArn">
          <xs:annotation>
            <xs:documentation>The ARN of the subscription whose properties you want to get</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="GetTopicAttributesType" substitutionGroup="mule:abstract-operator" name="get-topic-attributes">
    <xs:annotation>
      <xs:documentation>The GetTopicAttributes action returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetTopicAttributesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="topicArn">
          <xs:annotation>
            <xs:documentation>The ARN of the topic whose properties you want to get.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ListEndpointsByPlatformApplicationType" substitutionGroup="mule:abstract-operator" name="list-endpoints-by-platform-application">
    <xs:annotation>
      <xs:documentation>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM and APNS.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ListEndpointsByPlatformApplicationType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-object-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="arn">
          <xs:annotation>
            <xs:documentation>The ARN of the platform application.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ListPlatformApplicationsType" substitutionGroup="mule:abstract-operator" name="list-platform-applications">
    <xs:annotation>
      <xs:documentation>Lists the platform application objects for the supported push notification services, such as APNS and GCM.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ListPlatformApplicationsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-object-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ListSubscriptionsType" substitutionGroup="mule:abstract-operator" name="list-subscriptions">
    <xs:annotation>
      <xs:documentation>The ListSubscriptions action returns a list of the requester's subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a NextToken is also returned. Use the NextToken parameter in a new ListSubscriptions call to get further results.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ListSubscriptionsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-object-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ListSubscriptionsByTopicType" substitutionGroup="mule:abstract-operator" name="list-subscriptions-by-topic">
    <xs:annotation>
      <xs:documentation>The SubscriptionsByTopic action returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a NextToken is also returned. Use the NextToken parameter in a new SubscriptionsByTopic call to get further results.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ListSubscriptionsByTopicType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-object-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="arn">
          <xs:annotation>
            <xs:documentation>The ARN of the topic.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ListTopicsType" substitutionGroup="mule:abstract-operator" name="list-topics">
    <xs:annotation>
      <xs:documentation>The ListTopics action returns a list of the requester's topics. Each call returns a limited list of topics, up to 100. If there are more topics, a NextToken is also returned. Use the NextToken parameter in a new ListTopics call to get further results.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ListTopicsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-object-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="PublishType" substitutionGroup="mule:abstract-operator" name="publish">
    <xs:annotation>
      <xs:documentation>The Publish action sends a message to all of a topic's subscribed endpoints. When a messageId is returned, the message has been saved and Amazon SNS will attempt to deliver it to the topic's subscribers shortly. The format of the outgoing message to each subscribed endpoint depends on the notification protocol selected.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PublishType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="message">
            <xs:annotation>
              <xs:documentation>The message you want to send to the topic.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="message-attributes">
            <xs:annotation>
              <xs:documentation>The message attributes.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="subject">
          <xs:annotation>
            <xs:documentation>Optional parameter to be used as the "Subject" line when the message is delivered to email endpoints. This field will also be included, if present, in the standard JSON messages delivered to other endpoints.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="messageStructure">
          <xs:annotation>
            <xs:documentation>Set &lt;code&gt;MessageStructure&lt;/code&gt; to &lt;code&gt;json&lt;/code&gt; if you want to send a different message for each protocol.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="topicArn">
          <xs:annotation>
            <xs:documentation>The Amazon Resource Name (ARN) of the topic you want to publish to..</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="targetArn">
          <xs:annotation>
            <xs:documentation>The Amazon Resource Name (ARN) of the platform endpoint you want to publish to.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="phoneNumber">
          <xs:annotation>
            <xs:documentation>The Phone Number of the device you want to publish to.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="RemovePermissionType" substitutionGroup="mule:abstract-operator" name="remove-permission">
    <xs:annotation>
      <xs:documentation>The RemovePermission action removes a statement from a topic's access control policy.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RemovePermissionType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="topicArn">
          <xs:annotation>
            <xs:documentation>The ARN of the topic whose access control policy you wish to modify.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="label">
          <xs:annotation>
            <xs:documentation>The unique label of the statement you want to remove.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SetEndpointAttributesType" substitutionGroup="mule:abstract-operator" name="set-endpoint-attributes">
    <xs:annotation>
      <xs:documentation>Sets the attributes for an endpoint for a device on one of the supported push notification services, such as GCM and APNS.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SetEndpointAttributesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="endpoint">
            <xs:annotation>
              <xs:documentation>Container for the parameters to the SetEndpointAttributes operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SetPlatformApplicationAttributesType" substitutionGroup="mule:abstract-operator" name="set-platform-application-attributes">
    <xs:annotation>
      <xs:documentation>Sets the attributes of the platform application object for the supported push notification services, such as APNS and GCM.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SetPlatformApplicationAttributesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="platform-application-attributes">
            <xs:annotation>
              <xs:documentation>Container for the parameters to the SetPlatformApplicationAttributes operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SetSubscriptionAttributesType" substitutionGroup="mule:abstract-operator" name="set-subscription-attributes">
    <xs:annotation>
      <xs:documentation>The SubscriptionAttributes action allows a subscription owner to set an attribute of the topic to a new value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SetSubscriptionAttributesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="subscriptionArn">
          <xs:annotation>
            <xs:documentation>The ARN of the subscription.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="attributeName">
          <xs:annotation>
            <xs:documentation>The name of the attribute.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="attributeValue">
          <xs:annotation>
            <xs:documentation>The value of the attribute.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SetTopicAttributesType" substitutionGroup="mule:abstract-operator" name="set-topic-attributes">
    <xs:annotation>
      <xs:documentation>The TopicAttributes action allows a topic owner to set an attribute of the topic to a new value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SetTopicAttributesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="topicArn">
          <xs:annotation>
            <xs:documentation>The ARN of the topic.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="attributeName">
          <xs:annotation>
            <xs:documentation>The name of the attribute.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="attributeValue">
          <xs:annotation>
            <xs:documentation>The value of the attribute.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SubscribeType" substitutionGroup="mule:abstract-operator" name="subscribe">
    <xs:annotation>
      <xs:documentation>The Subscribe action prepares to subscribe an endpoint by sending the endpoint a confirmation message. To actually create a subscription, the endpoint owner must call the confirmSubscription action with the token from the confirmation message. Confirmation tokens are valid for three days.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SubscribeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="topicArn">
          <xs:annotation>
            <xs:documentation>The ARN of the topic you want to subscribe to.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/sns" type="org.mule.extension.sns.api.model.SubscriptionProtocolEnumType" use="required" name="protocol">
          <xs:annotation>
            <xs:documentation>The protocol you want to use.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="endpoint">
          <xs:annotation>
            <xs:documentation>The endpoint that you want to receive notifications. Endpoints vary by protocol:</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/sns" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="UnsubscribeType" substitutionGroup="mule:abstract-operator" name="unsubscribe">
    <xs:annotation>
      <xs:documentation>The Unsubscribe action deletes a subscription. If the subscription requires authentication for deletion, only the owner of the subscription or the its topic's owner can unsubscribe, and an AWS signature is required. If the Unsubscribe call does not require authentication and the requester is not the subscription owner, a final cancellation message is delivered to the endpoint, so that the endpoint owner can easily resubscribe to the topic if the Unsubscribe request was unintended.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UnsubscribeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="subscriptionArn">
          <xs:annotation>
            <xs:documentation>The ARN of the subscription to be deleted.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="org.mule.extension.sns.api.model.SubscriptionProtocolEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="HTTP"></xs:enumeration>
          <xs:enumeration value="HTTPS"></xs:enumeration>
          <xs:enumeration value="EMAIL"></xs:enumeration>
          <xs:enumeration value="EMAIL_JSON"></xs:enumeration>
          <xs:enumeration value="SMS"></xs:enumeration>
          <xs:enumeration value="SQS"></xs:enumeration>
          <xs:enumeration value="APPLICATION"></xs:enumeration>
          <xs:enumeration value="LAMBDA"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>